.user-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: max-content;
}

.single-player-container, .in-menu-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: max-content;
}