* {
    margin: 0;
    padding: 0;
}

.root {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    position: absolute;
    z-index: 0;

    --red: #650501;
    --green: #258000;
    --gray: #adadad;
    --white: #fff;
    --medium-gray: #292929;
    --dark-gray: white;
    --blue: #006fd7;
    --orange: #daa43d;
    --light-red: #ff593b;
    --purple: #8000ed;
    --transparent: rgba(0, 0, 0, 0);
  }
  

html,
body {
    overflow: hidden;
}

.button {
    /* background: magenta; */
}

.in-menu-container {
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 2;
}

/* Button Styles */

button {
    user-select: none;
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    opacity: 1;

    background: white;
    border-radius: 0.25rem;
    border: 0.0625rem solid darkgrey;
    display: inline-block;
    /* padding: 0.5rem 1rem; */
    padding: 0.25rem .5rem;
    margin: 0.125rem;
    /* min-width: 7.25rem; */
    min-width: 10.25rem;

    color: black;
    font-size: 0.75rem;
    line-height: 0.25rem;
    text-align: center;
    text-decoration: none;

    cursor: default;
}

button:hover {
    opacity: 1;
    background-color: ghostwhite;
}

button:active {
    opacity: 1;
    background: gainsboro;
    color: inherit;
}

button:disabled {
    opacity: 1;
    background: ghostwhite;
    color: #dcdcdc;
    cursor: not-allowed;
}