.water__container {
    position: absolute;
    width: 32px;
    height: 32px;
    animation: moveWater 2s steps(8) infinite;
    background-position-x: 0px;
  }
  
  @keyframes moveWater {
    100% {
      background-position-x: 256px;
    }
  }
  