.world {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* VDR TESTING */
    /* border-color: lightblue; */
    border-radius: 0.5rem;
    border-width: 5px;
    /* border-style: solid; */
}
